@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Special+Elite&display=swap');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Merriweather',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:1rem;
  color:#F9F1DA;
}

main{
  background-image: url('./img/cherry-tabletop.jpg');
}

h1{
  font-size: 2.5rem;
  margin-bottom: -10px;
}

h1, h2 {
  text-align: center;
  font-family: "Special Elite", monospace;
}

.instructions{
  text-align: center;
}

.row-container{
  display:flex;
  flex-flow: row wrap;
  /* flex-direction: row wrap; */
}

.card-container{
  width:336px;
  height:454px;
  margin: 10px 10px;
  background-color: #F9F1DA;
  border-radius: 20px;
  /* box-shadow: 8px 3px 3px rgba(56, 56, 56, 0.603); */
}

.start-button-container{
  margin: 40px 0px;
  text-align: center;
}

.start-page-container{
  /* Center the content */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Take full size */
  height: 100vh;
  width: 100%;
}

.row-container{
  justify-content: center;
}

.timer-container{
  text-align: center;
  color:#F9F1DA;
  padding-top: 20px;

}

.face-down{
  width:336px;
  height:454px;
  /* border:solid black 2px; */
  border-radius: 20px;
  background-image: url('./img/card-background.png');
  background-position: center center;
  background-size: contain;  
  background-repeat: no-repeat;
}

.card-image, .card-image-matched{
  width:336px;
  height:100%;
  object-fit: cover;
  border-radius: 20px;  
  filter:saturate(0%);
}

.card-image-matched{
  /* border: 5px solid green; */
  filter:saturate(80%);
}

.settings-form{
  /* Center the content */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Take full size */
  height: 100vh;
  width: 100%;
}

button, select {
  padding: 10px 20px;
  background-color: #F9F1DA;
  border: 0px;
  border-radius: 5px;
  font-family: 'Merriweather', sans-serif;
}

select {
  padding: 9px 20px;
  margin-right: 10px;
}

fieldset {
  border: 0;
}

.restart-button {
  margin-top: 30px;
}